!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    :css
      .accordion {
        background-color: bisque;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
      }
      
      .active, .accordion:hover {
        background-color: #ccc;
      }
      
      .accordion:after {
        content: '\002B';
        color: #777;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      .active:after {
        content: "\2212";
      }
      
      .panel {
        padding: 0 18px;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
      }
  %body
    %h2 FAQ's
    %p Below listed are some frequently asked questions.
    %button.accordion How can I change my dining hall in my profile?                                             
    .panel
      %p You can update your dining hall only once. When you Log In, you can navigate from Dashboard to User Profile and there you have the option to choose your dining hall.
    %button.accordion Can I view the shift availability in all dining halls?
    .panel
      %p No, You can only view shift availability for the dining hall that you have uodated in your profile.
    %button.accordion I have mistakenly selected a wrong dining hall while updating my profile. How can I fix it?
    .panel
      %p You have to write an email to the Maintenance team at (xyz@bingdiningmaintenance) stating your issue and they will get back to you.
    :javascript
      var acc = document.getElementsByClassName("accordion");
      var i;
      
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var panel = this.nextElementSibling;
          if (panel.style.maxHeight){
            panel.style.maxHeight = null;
          } else {
            panel.style.maxHeight = panel.scrollHeight + "px";
          } 
        });
      }