!!!
%html
  %head
    //%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "assets/my_stylsheet.css", :rel => "stylesheet", :type => "text/css"}/
    %h1 Binghamton University
  %body
    .container
      #header.span-24 
        %h2 Welcome To BU Shift Swapper
      .span-24
        = yield
      #footer.span-24
        %p 
          Username : 
          = text_field_tag 'Username'
        %p 
          Password : 
          = password_field_tag 'Password'
          %br
          %br
          
          =link_to button_tag 'Sign-in'
          =link_to button_tag 'Reset Password'
        %p Need an account?
        =link_to 'Register New Account', registration_path
       
    
        