!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %link{:href => "/default.css", :rel => "stylesheet", :type => "text/css"}/
    %title Binghamton University
  %body
    .container
      #header.span-24
        %p Welcome To BU Shift Swapper
      .span-24
        = yield
      #footer.span-24
        %p CS 545
      