%h4 Shift Selection
%form
  !!!
%html
  %head
  %link{:href => "assets/dashboard.css", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "assets/myjavascript.js"} 
  %body
    = week_calendar number_of_weeks: 1 do |date|
      = date